<section class="background">
    <section class="container">
        <section class="form">
            <header>
                <img src="/assets/img/logo_medify.png">
            </header>
            <main>
                <p>Faça login para entrar:</p>
                <input type="text" placeholder="Usuário">
                <input type="password" placeholder="Senha">
                <button (click)="onLogin()">Entrar</button>
            </main>
        </section>
        <section class="image">

        </section>
    </section>
</section>
