/* You can add global styles to this file, and also import other style files */
html,body{
    margin:0;
    padding:0;
    font-size: 1em;
    background:#EEE;
    width: 100vw;
    height:100vh;
    font-family: arial;
}

p,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
}